<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.d0works.d0_light"
    android:versionCode="11"
    android:versionName="1.7.11">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.d0works.d0_light.main_activity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.d0works.d0_light.screen_light" android:label="screen_light" android:screenOrientation="portrait" />
        <activity android:name="com.d0works.d0_light.back_light_camera" android:label="back_light_camera" android:screenOrientation="portrait" />
        <activity android:name="com.d0works.d0_light.screen_light_camera" android:label="back_light_camera" android:screenOrientation="portrait" />

    </application>
</manifest>
